// @import "../../../node_modules/psn-bootstrap-theme/less/psn-variables.less";

// add site-level variables and overrides here
site := {
  colors: {
    white: #fff, // default white for the site
    black: #000, // default black for the site
    gray: #505050, // gray (same as @brand-inverse)
    border: #e9e9e9, // the main border color for the site
    success: #84ae53,// same as @brand-success
    primary: #56b6e4, // Primary Color - blue (same as @brand-info)
    secondary: #84ae53, // Secondary Color - green (same as @brand-success)
    tertiary: #ed5738, // Tertiary Color - red-orange (same as @brand-danger)
  },
  border: {
    radius: 4px,
    standard: 1px solid #e9e9e9 // this should be derived from border above but it's being mean.
  }
}
