// @name Headline Component
// @description
// displays a headline with a optional action.

.o-headline {
  align-items: center;
  border-bottom: site.border.standard;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0.8em 0;
  padding: 1em 0 0.8em;

  &--plain {
    border: none;
    margin: 0;
  }

  &__title {
    margin: 0;
  }
}
